* {
  box-sizing: border-box;
}

body, [placeholder], input, textarea, select {
  font-family: 'Gentium Book Basic', serif;
  color: #474747;
}

.wrapper {
  max-width: 90%;
  margin: 0 auto;
}

/****** heading ******/

header{
  background: #6699CC;
  padding: 10px 0;
  color: #fff;
}

h1, h2 {
  font-size: 1.3em;
}

header, .intro, footer {
  text-align: center;
}

.intro {
  padding: 15px 0;
  border-bottom: 4px solid #000;
  position: relative;
}

.intro::after {
  content:"";
  display: block;
  position: absolute;
  border-bottom: 2px solid #000;
  bottom: -8px;
  width: 100%;
  background: #000;
}

/****** body - Contact Information ******/

fieldset {
  border: none;
}

.col {
  margin: 25px 0;
  padding: 25px 0;
}

legend {
  font-size: 1.2em;
  font-weight: 700;
}

.info input[type], select, textarea, button {
  width: 100%;
  background: #e8ebf5;
  border-radius: 4px;
  padding: 10px 12px;
  margin-top: 10px;
  margin-bottom: 15px;
  border: 2px solid transparent;
}

select {
  height: 42px;
}

.info input[type]:focus,
select:focus,
textarea:focus {
  outline: none;
  border: 2px solid #6e94d8;
  color: #000;
  text-align: left;
}

.info input::placeholder,
textarea::placeholder {
  color: #aeaeae;
}

.info input::placeholder {
  text-align: right;
}

input:focus::-ms-input-placeholder {
  color: transparent;
}

input:focus::placeholder,
textarea:focus::placeholder {
  color: transparent;
}

.info input[id="zip"] {
  width: 50%;
}

.info label {
  display: block;
}

.info {
  border-bottom: 2px solid #000;
}

/****** body - Newsletter ******/

.newsletter {
  padding: 5px 0;
  margin-bottom: -20px;
}

.news {
  margin: 25px 0;
}

.choice {
  margin: 15px 0;
}

.newsletter input + label {
  margin-left: 10px;
}

textarea {
  height: 120px;
}

button {
  color: #fff;
  height: 50px;
  outline: none;
}

button[type="submit"] {
  background: #8dd6c9;
}

button[type="reset"] {
  background: #f5dc5f;
}

button + button {
  margin-top: 0;
}

/****** footer ******/

footer {
  font-style: italic;
}


@media (min-width: 768px) {

  .wrapper {
    max-width: 60%;
  }

  .info label{
    display: inline-block;
  }

  .info {
    display: flex;
  }

  .items {
    display: flex;
  }

  .items input[type], .items select {
    flex-basis: 70%;
  }

  .items label {
    align-self: center;
    margin-right: auto;
  }

  .info input[id="zip"] {
    flex: 0 35%;
    margin-right: 35%;
  }

  .btn {
    display: flex;
    justify-content: space-between;
  }

  .btn button {
    align-self: center;
    margin: 10px 0;
    flex: 0 47.5%;
  }



}
